<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <title>Home Page</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Users</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>

    <div class="table-container">
        <div class="title">List Users</div>


    <table>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Name</th>
    <th>City</th>
    <th>Actions</th>
  </tr>
 
  <!-- <% for (let i = 0; i < listUsers.length; i++) { %>
     <tr>
    <td>
      <%= listUsers[i].ID %>
    </td>
    <td>
       <%= listUsers[i].Email %>
      </td>
    <td>
      <%= listUsers[i].Name %> 
    </td>
    <td>
      <%= listUsers[i].City %> 
    </td>
    <td>
      <button>Edit</button>
      <button>Delete</button>
    </td>
  </tr>

  <% } %> -->
  

  <% listUsers.forEach(function(user, index) { %>
       <tr>
    <td>
      <%= user.ID %>
    <td>
       <%= user.Email %>
      </td>
    <td>
      <%= user.Name %> 
    </td>
    <td>
      <%= user.City %> 
    </td>
    <td>
      <a href="/update/<%= user.ID %>">Edit</a>

      <form action="/delete-user/<%= user.ID %>" method="POST">
        <button>Delete</button>
      </form>
    </td>
  </tr>

 <% }); %> 



</table>


    </div>


<!--     
    <div class="form-add-new">
        <form action="/create-user" method="POST">

        <fieldset>
            <legend class="add__title">Add new users</legend>

        <div class="input-group">
                <label>Email:</label>
                <input type="text" id="emailId" name="email"/>
        </div>

        <div class="input-group">
                <label>Name:</label>
                <input type="text" name="myname"/>
        </div>

        <div class="input-group">
                <label>City:</label>
                <input type="text" name="City"/>
        </div>

        <div>
            <button>Save</button>
        </div>

        </fieldset>

        </form>

    </div> -->


</body>
</html>